.carrinho {
  height: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  padding: 16px 0;
  font-weight: 700;
  font-size: 20px;
}

.produtos {
  height: calc(100% - 298px);
  overflow-y: scroll;
}

.resumo {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
}

.border {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 700;
}

.finalizar {
  background-color: #3b74f3;
  border-radius: 7px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  font-weight: 800;
}

.botao {
  padding: 16px;
}

.frete {
  text-align: center;
  background-color: #c8ffa6;
  border-radius: 40px;
  padding: 8px 16px;
  margin: 0 auto 16px auto;
  color: #217a00;
  font-weight: 600;
  display: table;
}
